* {
  font-family: 'Roboto Flex', sans-serif;
}

.special-padding {
    padding: 70px;
}

tbody tr > td {
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 100%;
}

tbody tr:hover > td{
    background: rgb(113, 44, 249, 0.2);
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 110%;
}

h2, h3 {
    transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cover {
    background-color: blueviolet;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    /* top: 0px;
    left: 0px; */
}

.clippy {
    /* -webkit-transition: all 0.9s cubic-bezier(0.51, 0, 0.25, 1); */
    transition: 0.9s cubic-bezier(0.51, 0, 0.25, 1);
}

table tr td .full-row-link {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none !important;
}

.btn-icon {
    background-color: transparent;
    border: none;
}

.iso-grid {
  margin: 0 auto;
}

.grid-item {
    float: left;
    margin-bottom: 5px;
}
  
/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
  width: 80px;
  /* width: 20%; */
  height: 80px;
}

.grid-item-content-big {
  width: 200px;
  /* width: 20%; */
  height: 80px;
}

/* item-content is visible, and transitions size */
.grid-item-content, .grid-item-content-big {
  /* width: 80px;
  height: 80px; */
  /* width:  100%;
  height: 100%; */
  background: #ffffff;
  border: 2px solid #333;
  border-color: rgba(13, 110, 253, 0.7);
  border-radius: 5px;
  /* -webkit-transition: width 0.4s, height 0.4s;
      -moz-transition: width 0.4s, height 0.4s;
        -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s; */
  transition: all 0.4s;
}

.grid-item:hover .grid-item-content {
  /* background: linear-gradient(90deg, rgba(28, 181, 255, 1), rgba(28, 181, 255, 0.3)); */
  box-shadow: 0 0 15px rgb(95 110 130);
  /* box-shadow: 0 0 15px rgb(13, 110, 253); */
  cursor: pointer;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; */
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  /* width: 240px; */
  width: 18em;
  /* width: 60%; */
  height: 80px;
}

.grid-item.is-expanded {
  z-index: 2;
}

/* .grid-item.is-expanded .grid-item-content {
  background: #F90;
} */

.hidden {
  opacity: 0;
}

.grid-item-content * {
  pointer-events: none;
}

.grid-item-content.criterion-I {
  background-color: #cceeff;
}

.grid-item-content.criterion-II {
  background-color: #ffccff;
}

.grid-item-content.criterion-III {
  background-color: #92d050;
}

.grid-item-content.criterion-IV {
  background-color: #ff9933;
}

.grid-item-content.criterion-V {
  background-color: #9999ff;
}

.grid-item-content.criterion-VI {
  background-color: #ffe699;
}

.grid-item-content.criterion-VII {
  background-color: #ff5050;
}

.grid-item-content.criterion-nan, .badge.nan {
  background-color: #ffffff;
}

.grid-item-content.down, .grid-item-content-big.down, .badge.down {
  background-color: #459568;
}

.grid-item-content.up, .grid-item-content-big.up, .badge.up {
  background-color: #c21b32;
}

.grid-item-content-big.updown, .badge.updown {
  background-color: #aaaaaa;
}

.badge {
  border: 2px solid #333;
  border-color: rgba(13, 110, 253, 0.7);
}

/* .expandable {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
} */

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  /* align-content: center; */
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.expandable h3 {
  /* font-size: calc(3vw + 3vh); */
}

.tile-fs {
  font-size: 1.1rem !important;
  text-align: center;
}

@media (min-width: 1200px) {
  .content-column.h3, h3 {
    font-size: 1.6rem;
  }
}

.hor-ruler {
  border-radius: 1px;
}

.table{
  --bs-table-bg: transparent !important;
}

.sticky-nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.special-padding-top {
  padding-top: 2rem;
}

.shadow-override {
  box-shadow: 0 .1rem 1.5rem rgba(0,0,0,.15)!important;
}

.nav-item {
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-weight: 700;
}

.nav-item:hover{
  background-color: rgba(13, 110, 253, 0.1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 8px;
  background: rgba(13, 110, 253, 0.7);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: rgba(13, 110, 253, 0.1);
  border-radius: 8px;
  border: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: inset 0 0 17px 10px rgb(17 17 17 / 20%);
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 8px;
}

.dataTables_wrapper .dataTables_length select {
  border-radius: 8px;
}