.special-padding {
    padding: 70px;
}

tbody tr > td {
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 100%;
}

tbody tr:hover > td{
    background: rgb(113, 44, 249, 0.2);
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 110%;
}

h2 {
    transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cover {
    background-color: blueviolet;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    /* top: 0px;
    left: 0px; */
}

.clippy {
    /* -webkit-transition: all 0.9s cubic-bezier(0.51, 0, 0.25, 1); */
    transition: 0.9s cubic-bezier(0.51, 0, 0.25, 1);
}

table tr td .full-row-link {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none !important;
}