.special-padding {
    padding: 70px;
}

tbody tr > td {
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

tbody tr:hover > td{
    background: rgb(113, 44, 249, 0.5);
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}